<div class="modal fade" id="menu-add" data-keyboard="false" data-backdrop="static" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title pull-left" id="menu-add-modal-title">新增菜单/按钮</h3>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12">
            <form id="menu-add-form" class="form-horizontal">
              <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-menuName"> 菜单名称： </label>
                <div class="col-sm-9">
                  <input type="text" id="form-menuName" name="menuName" class="col-xs-10 col-sm-5" />
                  <input type="hidden" name="oldMenuName"  class="form-control">
                  <input type="hidden" name="menuId"  class="form-control">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-menuName"> 类型选择： </label>
                <div class="col-sm-9">
                  <label class="custom-control custom-radio">
                    <input name="type" type="radio" value="0" checked class="custom-control-input">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">菜单</span>
                  </label>
                  <label class="custom-control custom-radio">
                    <input name="type" type="radio" value="1" class="custom-control-input">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">按钮</span>
                  </label>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-url"> 菜单URL： </label>
                <div class="col-sm-9">
                  <input type="text" id="form-url" name="url" class="col-xs-10 col-sm-5" />
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-perms">	权限描述： </label>
                <div class="col-sm-9">
                  <input type="text" id="form-perms" name="perms" class="col-xs-10 col-sm-5" />
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-icon"> 菜单图标： </label>
                <div class="col-sm-9">
                  <input id="form-icon" type="text" name="icon" class="form-control">
                  <div class="ms-parent" style="width: 100%;">
                    <div class="ms-drop bottom icon-drop animated flipInX" style="display: block;max-height:200px;overflow-y:auto">
                      <div data-th-include="system/menu/menuIcon"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-menuName">上级菜单： </label>
                <div class="col-sm-9">
                  <div id="menuTree"></div>
                  <input type="hidden" name="parentId">
                </div>
              </div>
            </form>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-save" id="menu-add-button" name="save">保存</button>
        <button type="button" class="btn btn-secondary btn-close">关闭</button>
        <button class="btn-hide"></button>
      </div>
    </div>
  </div>
</div>
<script data-th-src="@{js/app/system/menu/menuAdd.js}"></script>